In [39]:
import pandas as pd
import os
import datetime as dt

In [40]:
path = r"C:\Users\Carl\Desktop\UNSW Capstone Project\Data"

#### Total Demand

In [78]:
totalDemand = pd.read_csv(path+r"\totaldemand_nsw.csv")

In [81]:
totalDemand.head()

              DATETIME REGIONID  TOTALDEMAND
0  2010-01-01 00:00:00     NSW1      7997.41
1  2010-01-01 00:05:00     NSW1      7946.51
2  2010-01-01 00:10:00     NSW1      7921.55
3  2010-01-01 00:15:00     NSW1      7837.84
4  2010-01-01 00:20:00     NSW1      7781.11

In [91]:
totalDemand['DATETIME'] = pd.to_datetime(totalDemand['DATETIME'])

In [ ]:
print(min(totalDemand.DATETIME), max(totalDemand.DATETIME))

In [44]:
totalDemand.dtypes

DATETIME       datetime64[ns]
REGIONID               object
TOTALDEMAND           float64
dtype: object

In [45]:
len(totalDemand)

1323398

In [46]:
totalDemand.isna().sum()

DATETIME       0
REGIONID       0
TOTALDEMAND    0
dtype: int64

In [47]:
totalDemand.REGIONID.unique()

array(['NSW1'], dtype=object)

#### Temperature

In [79]:
temperature = pd.read_csv(path+r"\temperature_nsw.csv")

In [82]:
temperature.head()

              DATETIME  LOCATION  TEMPERATURE
0  2010-01-01 00:00:00   94766.0         23.1
1  2010-01-01 00:01:00   94766.0         23.1
2  2010-01-01 00:30:00   94766.0         22.9
3  2010-01-01 00:50:00   94766.0         22.7
4  2010-01-01 01:00:00   94766.0         22.6

In [90]:
temperature['DATETIME'] = pd.to_datetime(temperature['DATETIME'])

In [ ]:
print(min(temperature.DATETIME), max(temperature.DATETIME))

In [51]:
temperature.dtypes

DATETIME       datetime64[ns]
LOCATION              float64
TEMPERATURE           float64
dtype: object

In [52]:
len(temperature)

247646

In [53]:
temperature.isna().sum()

DATETIME       0
LOCATION       0
TEMPERATURE    0
dtype: int64

In [54]:
temperature.LOCATION.unique()

array([94766.])

#### Forecast Demand

In [80]:
forecastDemand = pd.read_csv(path+r"\forecastdemand_nsw.csv")

In [83]:
forecastDemand.head()

,DATETIME,REGIONID,FORECASTDEMAND,PREDISPATCHSEQNO,PERIODID,LASTCHANGED
0,2010-01-01 00:00:00,NSW1,7832.04,2009123018,71,2009-12-30 12:31:49
1,2010-01-01 00:00:00,NSW1,7832.04,2009123019,70,2009-12-30 13:01:43
2,2010-01-01 00:00:00,NSW1,7832.03,2009123020,69,2009-12-30 13:31:36
3,2010-01-01 00:00:00,NSW1,7832.03,2009123021,68,2009-12-30 14:01:44
4,2010-01-01 00:00:00,NSW1,7830.96,2009123022,67,2009-12-30 14:31:35

In [89]:
forecastDemand['DATETIME'] = pd.to_datetime(forecastDemand['DATETIME'])
forecastDemand['LASTCHANGED'] = pd.to_datetime(forecastDemand['LASTCHANGED'])

In [95]:
print(min(forecastDemand.DATETIME), max(forecastDemand.DATETIME))
print(min(forecastDemand.LASTCHANGED), max(forecastDemand.LASTCHANGED))

2010-01-01 00:00:00 2022-08-01 00:00:00
2009-12-30 12:31:49 2022-07-31 23:31:52

In [58]:
forecastDemand.dtypes

DATETIME            datetime64[ns]
REGIONID                    object
FORECASTDEMAND             float64
PREDISPATCHSEQNO             int64
PERIODID                     int64
LASTCHANGED         datetime64[ns]
dtype: object

In [59]:
len(forecastDemand)

11619503

In [60]:
forecastDemand.isna().sum()

DATETIME            0
REGIONID            0
FORECASTDEMAND      0
PREDISPATCHSEQNO    0
PERIODID            0
LASTCHANGED         0
dtype: int64

In [61]:
forecastDemand.PERIODID.max()

79

#### Energy Prices and Demand

In [84]:
wd = path + r"\Prices"
files = os.listdir(wd)

In [85]:
prices = pd.DataFrame([])
file_count = 0
for file in files:
    file_df = pd.read_csv(wd + "\\" + file)
    prices = prices.append(file_df, ignore_index=True)
    file_count += 1
print("Merged", file_count, "files")

Merged 152 files

In [86]:
prices.head()

  REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
0   NSW1  2010/01/01 00:30:00      7809.31  21.50      TRADE
1   NSW1  2010/01/01 01:00:00      7483.69  20.98      TRADE
2   NSW1  2010/01/01 01:30:00      7117.23  20.06      TRADE
3   NSW1  2010/01/01 02:00:00      6812.03  17.93      TRADE
4   NSW1  2010/01/01 02:30:00      6544.33  17.43      TRADE

In [88]:
prices['SETTLEMENTDATE'] = pd.to_datetime(prices['SETTLEMENTDATE'])

In [ ]:
print(min(prices.SETTLEMENTDATE), max(prices.SETTLEMENTDATE))

In [65]:
prices.dtypes

REGION             object
SETTLEMENTDATE     object
TOTALDEMAND       float64
RRP               float64
PERIODTYPE         object
dtype: object

In [72]:
len(prices)

302448

In [67]:
prices.isna().sum()

REGION            0
SETTLEMENTDATE    0
TOTALDEMAND       0
RRP               0
PERIODTYPE        0
dtype: int64

In [69]:
prices.PERIODTYPE.unique()

array(['TRADE'], dtype=object)

#### Calculated Columns

In [92]:
totalDemand["DATE"] = totalDemand["DATETIME"].dt.date
forecastDemand["DATE"] = forecastDemand["DATETIME"].dt.date
temperature["DATE"] = temperature["DATETIME"].dt.date
prices["DATE"] = prices["SETTLEMENTDATE"].dt.date

#### Remove redundant columns

In [93]:
totalDemand = totalDemand.drop(columns=["REGIONID"])
forecastDemand = forecastDemand.drop(columns=["REGIONID"])
temperature = temperature.drop(columns=["LOCATION"])
prices = prices.drop(columns=["REGION","PERIODTYPE"])

#### Merge Datasets

Need to look at aggregating datasets on DATE
* totalDemand: aggregate every X number of hours (DATETIME), each aggregate as a column (e.g. 00-06, 06-12, 12-18, 18-00)
* forecastDemand: aggregate every X number of hours (LAST CHANGED), each aggregate as a column (see above)
* temperature: aggregate every X number of hours (DATETIME), each aggregate as a column (see above)
* prices: aggregate every X number of hours (SETTLEMENTDATE), each aggregate as a column (see above)

In [96]:
# df = forecastDemand.merge(temperature, on='DATE')
# df = df.merge(totalDemand, on='DATE')
# df = df.merge(prices, on="DATE")
# df