In [219]:
import pandas as pd
import numpy as np

#from keras.models import Sequential
from keras.layers import LSTM, Dense


from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.optimizers import RMSprop


from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, r2_score

In [220]:
#Load dataset into a pandas dataframe
df = pd.read_csv("../data/Cleaned data/data.csv") 

df.dropna(inplace = True)

df.head()

,YEAR,MONTH,DAY,HUMIDITY,WINDSPEED,DATE,TOTALDEMAND,HOLIDAY,MIN,MAX,RAIN,SOLAR,RRP,FORECASTDEMAND,OUTPUT,MONTHDATE,WEEKDAY,WEEKEND,TEMPAVE
0,2016,1,1,0.656341,15.902439,2016-01-01,6853.633437,1.0,15.3,28.6,0.0,32.2,38.472917,6665.366167,46.93,01-2016,4,0,21.95
1,2016,1,2,0.656341,15.902439,2016-01-02,6727.613958,0.0,15.9,26.1,0.0,21.7,36.907292,6236.849955,46.93,01-2016,5,1,21.00
2,2016,1,3,0.688837,14.488372,2016-01-03,6616.406076,0.0,17.5,25.6,0.0,10.3,31.997083,6551.924748,46.93,01-2016,6,1,21.55
3,2016,1,4,0.679545,22.477273,2016-01-04,7367.750278,0.0,18.2,23.6,14.0,6.4,33.424583,6729.993123,46.93,01-2016,0,0,20.90
4,2016,1,5,0.768837,22.581395,2016-01-05,7462.242014,0.0,17.6,20.5,39.0,4.4,33.053958,7333.898202,46.93,01-2016,1,0,19.05

In [221]:
#X = df.iloc[:,[3,5,9,16]]
#y = df.iloc[:,10]

df = df.drop(['DATE','MIN','MAX','SOLAR', 'FORECASTDEMAND', 'MONTHDATE','WEEKEND'], axis=1)

#y = df['FORECASTDEMAND']

df.head()

,YEAR,MONTH,DAY,HUMIDITY,WINDSPEED,TOTALDEMAND,HOLIDAY,RAIN,RRP,OUTPUT,WEEKDAY,TEMPAVE
0,2016,1,1,0.656341,15.902439,6853.633437,1.0,0.0,38.472917,46.93,4,21.95
1,2016,1,2,0.656341,15.902439,6727.613958,0.0,0.0,36.907292,46.93,5,21.00
2,2016,1,3,0.688837,14.488372,6616.406076,0.0,0.0,31.997083,46.93,6,21.55
3,2016,1,4,0.679545,22.477273,7367.750278,0.0,14.0,33.424583,46.93,0,20.90
4,2016,1,5,0.768837,22.581395,7462.242014,0.0,39.0,33.053958,46.93,1,19.05

In [222]:
# Onehot Encoding for categorial data (Weekday)


# Select the "WEEKDAY" column and create a new dataframe
weekday_df = df[['WEEKDAY']]

# Create a one-hot encoder object

encoder = OneHotEncoder(categories='auto')

# Fit and transform the weekday data
weekday_encoded = encoder.fit_transform(df[['WEEKDAY']]).toarray()

# Create a new dataframe with the encoded weekday data
weekday_df = pd.DataFrame(weekday_encoded, columns=['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'])

# Concatenate the original dataframe with the encoded weekday dataframe
df = pd.concat([df, weekday_df], axis=1)

df.head()

,YEAR,MONTH,DAY,HUMIDITY,WINDSPEED,TOTALDEMAND,HOLIDAY,RAIN,RRP,OUTPUT,WEEKDAY,TEMPAVE,MON,TUE,WED,THU,FRI,SAT,SUN
0,2016,1,1,0.656341,15.902439,6853.633437,1.0,0.0,38.472917,46.93,4,21.95,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2016,1,2,0.656341,15.902439,6727.613958,0.0,0.0,36.907292,46.93,5,21.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2016,1,3,0.688837,14.488372,6616.406076,0.0,0.0,31.997083,46.93,6,21.55,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2016,1,4,0.679545,22.477273,7367.750278,0.0,14.0,33.424583,46.93,0,20.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2016,1,5,0.768837,22.581395,7462.242014,0.0,39.0,33.053958,46.93,1,19.05,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [223]:
# identify response variable and predictors
X = df.drop(['TOTALDEMAND'], axis=1).values
y = df['TOTALDEMAND'].values

# Split the dataset into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [224]:
# Normalize the data

scaler = MinMaxScaler(feature_range=(0, 1))
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


print(X_train_scaled[:5])

[[0.         0.63636364 0.93333333 0.52811291 0.28835821 0.
  0.         0.01596439 0.         0.         0.34738372 1.
  0.         0.         0.         0.         0.         0.        ]
 [0.33333333 0.18181818 0.9        0.53686736 0.30777363 0.
  0.         0.02684513 0.02891029 0.33333333 0.6380814  0.
  0.         1.         0.         0.         0.         0.        ]
 [0.66666667 0.09090909 0.3        0.97270007 1.         0.
  1.         0.01630077 0.1541527  0.         0.70639535 1.
  0.         0.         0.         0.         0.         0.        ]
 [1.         0.36363636 0.2        0.51673116 0.31575456 0.
  0.         0.13815902 0.04776531 0.83333333 0.36627907 0.
  0.         0.         0.         0.         1.         0.        ]
 [1.         0.45454545 0.46666667 0.73586387 0.26039036 0.
  0.         0.18020014 0.13336397 0.33333333 0.30668605 0.
  0.         1.         0.         0.         0.         0.        ]]

In [225]:
#Reshape the data for input to the LSTM model
#(This step is fit the data to 3D tensor format for LSTM model to process the sequential data efficiently 
#and capture any temporal dependencies in the data)




X_train = []
y_train = []
for i in range(1, len(train_set)):
    X_train.append(X_train_scaled[i-1:i, :])
    y_train.append(X_train_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], X_train.shape[2]))

X_test = []
y_test = []
for i in range(60, len(test_set)):
    X_test.append(X_test_scaled[i-1:i, :])
    y_test.append(X_test_scaled[i, 0])
X_test, y_test = np.array(X_test), np.array(y_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], X_train.shape[2]))

In [226]:
# Build the LSTM model with three LSTM layers and one dense output layer

model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(LSTM(units=50, return_sequences=True))
model.add(LSTM(units=50))
model.add(Dense(units=1))


optimizer = RMSprop(learning_rate=0.0001)
model.compile(loss='mean_squared_error', optimizer=optimizer)

In [227]:
# Train the LSTM model
model.fit(X_train, y_train, epochs=100, batch_size=32)

Epoch 1/100
50/50 [==============================] - 4s 3ms/step - loss: 0.2443
Epoch 2/100
50/50 [==============================] - 0s 3ms/step - loss: 0.2234
Epoch 3/100
50/50 [==============================] - 0s 3ms/step - loss: 0.1992
Epoch 4/100
50/50 [==============================] - 0s 3ms/step - loss: 0.1701
Epoch 5/100
50/50 [==============================] - 0s 3ms/step - loss: 0.1392
Epoch 6/100
50/50 [==============================] - 0s 3ms/step - loss: 0.1114
Epoch 7/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0968
Epoch 8/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0941
Epoch 9/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0939
Epoch 10/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0939
Epoch 11/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0937
Epoch 12/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0937
Epoch 13/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0936
Epoch 14/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0935
Epoch 15/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0934
Epoch 16/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0933
Epoch 17/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0933
Epoch 18/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0932
Epoch 19/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0932
Epoch 20/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0932
Epoch 21/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0931
Epoch 22/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0931
Epoch 23/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0931
Epoch 24/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0930
Epoch 25/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0930
Epoch 26/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0930
Epoch 27/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0929
Epoch 28/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0929
Epoch 29/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0929
Epoch 30/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0927
Epoch 31/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0928
Epoch 32/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0928
Epoch 33/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0927
Epoch 34/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0928
Epoch 35/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0927
Epoch 36/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0928
Epoch 37/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0926
Epoch 38/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0927
Epoch 39/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0927
Epoch 40/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0927
Epoch 41/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0926
Epoch 42/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0927
Epoch 43/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0926
Epoch 44/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0926
Epoch 45/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0926
Epoch 46/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 47/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0926
Epoch 48/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0926
Epoch 49/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 50/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 51/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 52/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 53/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 54/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 55/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 56/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 57/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 58/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 59/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 60/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 61/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0925
Epoch 62/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 63/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 64/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 65/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 66/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 67/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 68/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 69/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 70/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 71/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 72/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 73/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 74/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 75/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 76/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 77/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 78/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 79/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0924
Epoch 80/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 81/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 82/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 83/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 84/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 85/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 86/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 87/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0922
Epoch 88/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 89/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 90/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0922
Epoch 91/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0922
Epoch 92/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 93/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 94/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 95/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0922
Epoch 96/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0922
Epoch 97/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 98/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0922
Epoch 99/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0923
Epoch 100/100
50/50 [==============================] - 0s 3ms/step - loss: 0.0922

In [228]:
# Evaluate the LSTM model

# Get model predictions on the test set
y_pred = model.predict(X_test)

# Calculate MSE and R-squared
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('MSE: %.4f' % mse)
print('R-squared: %.4f' % r2)

MSE: 0.0909
R-squared: 0.0034