In [1]:
import pandas as pd
import os
import datetime as dt
import zipfile
import tempfile # for temporary file storage to avoid storing large datasets on github

In [2]:
base_dir = os.path.dirname(os.path.abspath("..\data"))
path = os.path.join(base_dir, r"data")
os.chdir(path)

In [3]:
# os.listdir()

#### Functions

In [4]:
def zip_to_df(file_name):
    # create temporary directory  
    with tempfile.TemporaryDirectory() as tmpdirname:
        # collect data from zip file 
        with zipfile.ZipFile(file_name+".zip") as zip_file:
            file_list = zip_file.namelist()
            for file in file_list:
               zip_file.extract(file, tmpdirname)
            file_path = tmpdirname+"\\"+file_name
            # create and return dataframe
            df = pd.read_csv(file_path)
            return df

#### Total Demand

In [5]:
file_name = "totaldemand_nsw.csv"
totalDemand = zip_to_df(file_name)
totalDemand.head()

              DATETIME REGIONID  TOTALDEMAND
0  2010-01-01 00:00:00     NSW1      7997.41
1  2010-01-01 00:05:00     NSW1      7946.51
2  2010-01-01 00:10:00     NSW1      7921.55
3  2010-01-01 00:15:00     NSW1      7837.84
4  2010-01-01 00:20:00     NSW1      7781.11

In [6]:
totalDemand['DATETIME'] = pd.to_datetime(totalDemand['DATETIME'])

In [7]:
# print(min(totalDemand.DATETIME), max(totalDemand.DATETIME))

In [8]:
totalDemand.dtypes

DATETIME       datetime64[ns]
REGIONID               object
TOTALDEMAND           float64
dtype: object

In [9]:
len(totalDemand)

1323398

In [10]:
totalDemand.isna().sum()

DATETIME       0
REGIONID       0
TOTALDEMAND    0
dtype: int64

In [11]:
totalDemand.REGIONID.unique()

array(['NSW1'], dtype=object)

#### Temperature

In [12]:
file_name = "temperature_nsw.csv"
temperature = zip_to_df(file_name)
temperature.head()

              DATETIME  LOCATION  TEMPERATURE
0  2010-01-01 00:00:00   94766.0         23.1
1  2010-01-01 00:01:00   94766.0         23.1
2  2010-01-01 00:30:00   94766.0         22.9
3  2010-01-01 00:50:00   94766.0         22.7
4  2010-01-01 01:00:00   94766.0         22.6

In [13]:
temperature['DATETIME'] = pd.to_datetime(temperature['DATETIME'])

In [14]:
# print(min(temperature.DATETIME), max(temperature.DATETIME))

In [15]:
temperature.dtypes

DATETIME       datetime64[ns]
LOCATION              float64
TEMPERATURE           float64
dtype: object

In [16]:
len(temperature)

247646

In [17]:
temperature.isna().sum()

DATETIME       0
LOCATION       0
TEMPERATURE    0
dtype: int64

In [18]:
temperature.LOCATION.unique()

array([94766.])

#### Forecast Demand

In [19]:
file_name = "forecastdemand_nsw.csv"
forecastDemand = zip_to_df(file_name)
forecastDemand.head()

,DATETIME,REGIONID,FORECASTDEMAND,PREDISPATCHSEQNO,PERIODID,LASTCHANGED
0,2010-01-01 00:00:00,NSW1,7832.04,2009123018,71,2009-12-30 12:31:49
1,2010-01-01 00:00:00,NSW1,7832.04,2009123019,70,2009-12-30 13:01:43
2,2010-01-01 00:00:00,NSW1,7832.03,2009123020,69,2009-12-30 13:31:36
3,2010-01-01 00:00:00,NSW1,7832.03,2009123021,68,2009-12-30 14:01:44
4,2010-01-01 00:00:00,NSW1,7830.96,2009123022,67,2009-12-30 14:31:35

In [20]:
forecastDemand['DATETIME'] = pd.to_datetime(forecastDemand['DATETIME'])
forecastDemand['LASTCHANGED'] = pd.to_datetime(forecastDemand['LASTCHANGED'])

In [21]:
# print(min(forecastDemand.DATETIME), max(forecastDemand.DATETIME))
# print(min(forecastDemand.LASTCHANGED), max(forecastDemand.LASTCHANGED))

In [22]:
forecastDemand.dtypes

DATETIME            datetime64[ns]
REGIONID                    object
FORECASTDEMAND             float64
PREDISPATCHSEQNO             int64
PERIODID                     int64
LASTCHANGED         datetime64[ns]
dtype: object

In [23]:
len(forecastDemand)

11619503

In [24]:
forecastDemand.isna().sum()

DATETIME            0
REGIONID            0
FORECASTDEMAND      0
PREDISPATCHSEQNO    0
PERIODID            0
LASTCHANGED         0
dtype: int64

In [25]:
forecastDemand.PERIODID.max()

79

#### Energy Prices and Demand

In [26]:
wd = path + r"\Price and Demand - 2010-22"
files = os.listdir(wd)
files

['Data source.txt',
 'PRICE_AND_DEMAND_201001_NSW1.csv',
 'PRICE_AND_DEMAND_201002_NSW1.csv',
 'PRICE_AND_DEMAND_201003_NSW1.csv',
 'PRICE_AND_DEMAND_201004_NSW1.csv',
 'PRICE_AND_DEMAND_201005_NSW1.csv',
 'PRICE_AND_DEMAND_201006_NSW1.csv',
 'PRICE_AND_DEMAND_201007_NSW1.csv',
 'PRICE_AND_DEMAND_201008_NSW1.csv',
 'PRICE_AND_DEMAND_201009_NSW1.csv',
 'PRICE_AND_DEMAND_201010_NSW1.csv',
 'PRICE_AND_DEMAND_201011_NSW1.csv',
 'PRICE_AND_DEMAND_201012_NSW1.csv',
 'PRICE_AND_DEMAND_2010_to_2011.csv',
 'PRICE_AND_DEMAND_201101_NSW1.csv',
 'PRICE_AND_DEMAND_201102_NSW1.csv',
 'PRICE_AND_DEMAND_201103_NSW1.csv',
 'PRICE_AND_DEMAND_201104_NSW1.csv',
 'PRICE_AND_DEMAND_201105_NSW1.csv',
 'PRICE_AND_DEMAND_201106_NSW1.csv',
 'PRICE_AND_DEMAND_201107_NSW1.csv',
 'PRICE_AND_DEMAND_201108_NSW1.csv',
 'PRICE_AND_DEMAND_201109_NSW1.csv',
 'PRICE_AND_DEMAND_201110_NSW1.csv',
 'PRICE_AND_DEMAND_201111_NSW1.csv',
 'PRICE_AND_DEMAND_201112_NSW1.csv',
 'PRICE_AND_DEMAND_201201_NSW1.csv',
 'PRICE_AND_DEMAND_201202_NSW1.csv',
 'PRICE_AND_DEMAND_201203_NSW1.csv',
 'PRICE_AND_DEMAND_201204_NSW1.csv',
 'PRICE_AND_DEMAND_201205_NSW1.csv',
 'PRICE_AND_DEMAND_201206_NSW1.csv',
 'PRICE_AND_DEMAND_201207_NSW1.csv',
 'PRICE_AND_DEMAND_201208_NSW1.csv',
 'PRICE_AND_DEMAND_201209_NSW1.csv',
 'PRICE_AND_DEMAND_201210_NSW1.csv',
 'PRICE_AND_DEMAND_201211_NSW1.csv',
 'PRICE_AND_DEMAND_201212_NSW1.csv',
 'PRICE_AND_DEMAND_201301_NSW1.csv',
 'PRICE_AND_DEMAND_201302_NSW1.csv',
 'PRICE_AND_DEMAND_201303_NSW1.csv',
 'PRICE_AND_DEMAND_201304_NSW1.csv',
 'PRICE_AND_DEMAND_201305_NSW1.csv',
 'PRICE_AND_DEMAND_201306_NSW1.csv',
 'PRICE_AND_DEMAND_201307_NSW1.csv',
 'PRICE_AND_DEMAND_201308_NSW1.csv',
 'PRICE_AND_DEMAND_201309_NSW1.csv',
 'PRICE_AND_DEMAND_201310_NSW1.csv',
 'PRICE_AND_DEMAND_201311_NSW1.csv',
 'PRICE_AND_DEMAND_201312_NSW1.csv',
 'PRICE_AND_DEMAND_201401_NSW1.csv',
 'PRICE_AND_DEMAND_201402_NSW1.csv',
 'PRICE_AND_DEMAND_201403_NSW1.csv',
 'PRICE_AND_DEMAND_201404_NSW1.csv',
 'PRICE_AND_DEMAND_201405_NSW1.csv',
 'PRICE_AND_DEMAND_201406_NSW1.csv',
 'PRICE_AND_DEMAND_201407_NSW1.csv',
 'PRICE_AND_DEMAND_201408_NSW1.csv',
 'PRICE_AND_DEMAND_201409_NSW1.csv',
 'PRICE_AND_DEMAND_201410_NSW1.csv',
 'PRICE_AND_DEMAND_201411_NSW1.csv',
 'PRICE_AND_DEMAND_201412_NSW1.csv',
 'PRICE_AND_DEMAND_201501_NSW1.csv',
 'PRICE_AND_DEMAND_201502_NSW1.csv',
 'PRICE_AND_DEMAND_201503_NSW1.csv',
 'PRICE_AND_DEMAND_201504_NSW1.csv',
 'PRICE_AND_DEMAND_201505_NSW1.csv',
 'PRICE_AND_DEMAND_201506_NSW1.csv',
 'PRICE_AND_DEMAND_201507_NSW1.csv',
 'PRICE_AND_DEMAND_201508_NSW1.csv',
 'PRICE_AND_DEMAND_201509_NSW1.csv',
 'PRICE_AND_DEMAND_201510_NSW1.csv',
 'PRICE_AND_DEMAND_201511_NSW1.csv',
 'PRICE_AND_DEMAND_201512_NSW1.csv',
 'PRICE_AND_DEMAND_201601_NSW1.csv',
 'PRICE_AND_DEMAND_201602_NSW1.csv',
 'PRICE_AND_DEMAND_201603_NSW1.csv',
 'PRICE_AND_DEMAND_201604_NSW1.csv',
 'PRICE_AND_DEMAND_201605_NSW1.csv',
 'PRICE_AND_DEMAND_201606_NSW1.csv',
 'PRICE_AND_DEMAND_201607_NSW1.csv',
 'PRICE_AND_DEMAND_201608_NSW1.csv',
 'PRICE_AND_DEMAND_201609_NSW1.csv',
 'PRICE_AND_DEMAND_201610_NSW1.csv',
 'PRICE_AND_DEMAND_201611_NSW1.csv',
 'PRICE_AND_DEMAND_201612_NSW1.csv',
 'PRICE_AND_DEMAND_201701_NSW1.csv',
 'PRICE_AND_DEMAND_201702_NSW1.csv',
 'PRICE_AND_DEMAND_201703_NSW1.csv',
 'PRICE_AND_DEMAND_201704_NSW1.csv',
 'PRICE_AND_DEMAND_201705_NSW1.csv',
 'PRICE_AND_DEMAND_201706_NSW1.csv',
 'PRICE_AND_DEMAND_201707_NSW1.csv',
 'PRICE_AND_DEMAND_201708_NSW1.csv',
 'PRICE_AND_DEMAND_201709_NSW1.csv',
 'PRICE_AND_DEMAND_201710_NSW1.csv',
 'PRICE_AND_DEMAND_201711_NSW1.csv',
 'PRICE_AND_DEMAND_201712_NSW1.csv',
 'PRICE_AND_DEMAND_201801_NSW1.csv',
 'PRICE_AND_DEMAND_201802_NSW1.csv',
 'PRICE_AND_DEMAND_201803_NSW1.csv',
 'PRICE_AND_DEMAND_201804_NSW1.csv',
 'PRICE_AND_DEMAND_201805_NSW1.csv',
 'PRICE_AND_DEMAND_201806_NSW1.csv',
 'PRICE_AND_DEMAND_201807_NSW1.csv',
 'PRICE_AND_DEMAND_201808_NSW1.csv',
 'PRICE_AND_DEMAND_201809_NSW1.csv',
 'PRICE_AND_DEMAND_201810_NSW1.csv',
 'PRICE_AND_DEMAND_201811_NSW1.csv',
 'PRICE_AND_DEMAND_201812_NSW1.csv',
 'PRICE_AND_DEMAND_201901_NSW1.csv',
 'PRICE_AND_DEMAND_201902_NSW1.csv',
 'PRICE_AND_DEMAND_201903_NSW1.csv',
 'PRICE_AND_DEMAND_201904_NSW1.csv',
 'PRICE_AND_DEMAND_201905_NSW1.csv',
 'PRICE_AND_DEMAND_201906_NSW1.csv',
 'PRICE_AND_DEMAND_201907_NSW1.csv',
 'PRICE_AND_DEMAND_201908_NSW1.csv',
 'PRICE_AND_DEMAND_201909_NSW1.csv',
 'PRICE_AND_DEMAND_201910_NSW1.csv',
 'PRICE_AND_DEMAND_201911_NSW1.csv',
 'PRICE_AND_DEMAND_201912_NSW1.csv',
 'PRICE_AND_DEMAND_202001_NSW1.csv',
 'PRICE_AND_DEMAND_202002_NSW1.csv',
 'PRICE_AND_DEMAND_202003_NSW1.csv',
 'PRICE_AND_DEMAND_202004_NSW1.csv',
 'PRICE_AND_DEMAND_202005_NSW1.csv',
 'PRICE_AND_DEMAND_202006_NSW1.csv',
 'PRICE_AND_DEMAND_202007_NSW1.csv',
 'PRICE_AND_DEMAND_202008_NSW1.csv',
 'PRICE_AND_DEMAND_202009_NSW1.csv',
 'PRICE_AND_DEMAND_202010_NSW1.csv',
 'PRICE_AND_DEMAND_202011_NSW1.csv',
 'PRICE_AND_DEMAND_202012_NSW1.csv',
 'PRICE_AND_DEMAND_202101_NSW1.csv',
 'PRICE_AND_DEMAND_202102_NSW1.csv',
 'PRICE_AND_DEMAND_202103_NSW1.csv',
 'PRICE_AND_DEMAND_202104_NSW1.csv',
 'PRICE_AND_DEMAND_202105_NSW1.csv',
 'PRICE_AND_DEMAND_202106_NSW1.csv',
 'PRICE_AND_DEMAND_202107_NSW1.csv',
 'PRICE_AND_DEMAND_202108_NSW1.csv',
 'PRICE_AND_DEMAND_202109_NSW1.csv',
 'PRICE_AND_DEMAND_202110_NSW1.csv',
 'PRICE_AND_DEMAND_202111_NSW1.csv',
 'PRICE_AND_DEMAND_202112_NSW1.csv',
 'PRICE_AND_DEMAND_202201_NSW1.csv',
 'PRICE_AND_DEMAND_202202_NSW1.csv',
 'PRICE_AND_DEMAND_202203_NSW1.csv',
 'PRICE_AND_DEMAND_202204_NSW1.csv',
 'PRICE_AND_DEMAND_202205_NSW1.csv',
 'PRICE_AND_DEMAND_202206_NSW1.csv',
 'PRICE_AND_DEMAND_202207_NSW1.csv',
 'PRICE_AND_DEMAND_202208_NSW1.csv']

In [27]:
prices = pd.DataFrame([])
file_count = 0
for file in files:
    if file.endswith(".csv"):
        file_df = pd.read_csv(wd + "\\" + file)
        prices = prices.append(file_df, ignore_index=True)
        file_count += 1
print("Merged", file_count, "files")

Merged 153 files

In [28]:
prices.head()

  REGION       SETTLEMENTDATE TOTALDEMAND    RRP PERIODTYPE
0   NSW1  2010/01/01 00:30:00     7809.31   21.5      TRADE
1   NSW1  2010/01/01 01:00:00     7483.69  20.98      TRADE
2   NSW1  2010/01/01 01:30:00     7117.23  20.06      TRADE
3   NSW1  2010/01/01 02:00:00     6812.03  17.93      TRADE
4   NSW1  2010/01/01 02:30:00     6544.33  17.43      TRADE

In [29]:
prices['SETTLEMENTDATE'].unique()

array(['2010/01/01 00:30:00', '2010/01/01 01:00:00',
       '2010/01/01 01:30:00', ..., '2022/08/31 23:50:00',
       '2022/08/31 23:55:00', '2022/09/01 00:00:00'], dtype=object)

In [30]:
prices['SETTLEMENTDATE'] = pd.to_datetime(prices['SETTLEMENTDATE'], errors='coerce', format='%Y-%m-%d %H:%M:%S')

In [31]:
# print(min(prices.SETTLEMENTDATE), max(prices.SETTLEMENTDATE))

In [32]:
prices.dtypes

REGION                    object
SETTLEMENTDATE    datetime64[ns]
TOTALDEMAND               object
RRP                       object
PERIODTYPE                object
dtype: object

In [33]:
len(prices)

337511

In [34]:
prices.isna().sum()

REGION             0
SETTLEMENTDATE    23
TOTALDEMAND        0
RRP                0
PERIODTYPE         0
dtype: int64

In [35]:
prices.PERIODTYPE.unique()

array(['TRADE', 'PERIODTYPE'], dtype=object)

#### Calculated Columns

In [36]:
totalDemand["DATE"] = totalDemand["DATETIME"].dt.date
forecastDemand["DATE"] = forecastDemand["DATETIME"].dt.date
temperature["DATE"] = temperature["DATETIME"].dt.date
prices["DATE"] = prices["SETTLEMENTDATE"].dt.date

#### Remove redundant columns

In [37]:
totalDemand = totalDemand.drop(columns=["REGIONID"])
forecastDemand = forecastDemand.drop(columns=["REGIONID"])
temperature = temperature.drop(columns=["LOCATION"])
prices = prices.drop(columns=["REGION","PERIODTYPE"])

#### Merge Datasets

Need to look at aggregating datasets on DATE
* totalDemand: aggregate every X number of hours (DATETIME), each aggregate as a column (e.g. 00-06, 06-12, 12-18, 18-00)
* forecastDemand: aggregate every X number of hours (LAST CHANGED), each aggregate as a column (see above)
* temperature: aggregate every X number of hours (DATETIME), each aggregate as a column (see above)
* prices: aggregate every X number of hours (SETTLEMENTDATE), each aggregate as a column (see above)

In [38]:
# df = forecastDemand.merge(temperature, on='DATE')
# df = df.merge(totalDemand, on='DATE')
# df = df.merge(prices, on="DATE")
# df